.contact-rooo{
    .pr-0{
        padding-right: 0px;
    }
    .cont-row{
        margin-top: 10px;
        .col-sm-3{
            padding-right: 0px;
            span{
                float: right;
            }
        }
    }
}